body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
#box {
  width: 500px;
  height: 200px;
  border: 2px solid rgb(245, 220, 225);
  padding: 4px 6px;
  font: 16px "Lucida Grande", "Helvetica", "Arial", "sans-serif"
}
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  position: static;
  letter-spacing: .1rem;
  height: 100%
  background-color:#333333;
}
.navbar-brand{
  height: 5rem;
  margin-top: -2rem;
  margin-left: 2em;
}
#ims{
  width: 130px;border-radius: 80%
}
.navbar-nav li{
  padding-right: .7rem; 
  color: dodgerblue;
}
.navbar-dark .navbar-nav .nav-link{
  color: dodgerblue;
  padding-top: .7rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.nav-dark .navbar-nav .nav-link:hover{
  color: dodgerblue;
}



header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/56.jpg);
  background-size: cover;
     background-attachment: fixed;
  height: 105vh;
  }

 .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

 #ll{ 
  padding-top: 8em;
  padding-bottom: 7em;
  letter-spacing: 2px;
  }

.narrow{
 width: 75%;
 margin:1.5rem auto;
 padding-top: 2rem
 }

  #bg{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: .2.8rem;
  color: black;
  font-family: sans-serif;
  margin-left: 0.9em ; 
 }

  .jumbotron{
  padding-top: 20em;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

 #vo{
   background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/59.jpg) no-repeat center top fixed;
   background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
   width: 100%;
   overflow: hidden;
   height: 100%;
   /*padding-top: 8em;*/
   /*padding-bottom: 3em;*/
   color: black;
  }

  #bb
  {
  height: 100vh;
  color: white;  
  padding-top: 8em;
  }

  #clients{
    padding-top: 9em;
    color:black ;
    padding-bottom: 6em;
    height: 90vh
  }
  .heading-under{
    width: 3rem;
    height: .2rem;
    background-color: dodgerblue;
    margin: 0 auto;
}

  .clients img {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  }


h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: dodgerblue;
    margin: 0 auto;
}


 #sa{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/54.jpg);
    width:100%;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
     overflow: hidden;
     height: 50vh;
     margin-top: -2em;
     /*margin-bottom: 3em;*/
   }


 #shiva
{
  width: 100px;
  height: 70vh;
  margin:5px;
  margin-top: 2.5em;
  /*margin-bottom: 4em;*/
   font-size: 2.8rem;
  font-weight: 300;
  /*letter-spacing: .2.8rem;*/
  color: white;
}
.count
{
  line-height: 100px;
  color:dodgerblue;
  /*margin-left:30px;*/
  font-size:2em;
}
/*.underline{
    width: 5rem;
    height: .2rem;
    background-color: dodgerblue;
    margin-top: -15em;
}
 */


.caption{
  width: 100%;
  max-width: 100;
  position: absolute;
  top: 60%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.8rem;
  font-weight: 250;
  letter-spacing: .2.8rem;
  color: white;
  text-shadow: .1rem .1rem .5rem black;

}
.caption h4{
  font-size: 2rem;
    font-weight: 250;   
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  color: white
}






.fixed{
  background-image: url(images/27.jpg);
  z-index: -1;
  height: 30vh;
}

.dark{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding-top: 7rem 2rem 
}

.fixed-background h3{
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}


.blockquote i {
  color: dodgerblue;
  margin: 1rem
}

 #l{font-size: 2em}

  .carousel-inner img {
    height: 80vh;
    width: 100%;
  }

   .carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);

     }

  
  .card{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

  .fas{
   height: 0.8em;
   color: dodgerblue;padding-top: 
   }
   #sap{
    padding-top: 0.8em
   }

   #nnn{
    /*margin-top: 8em;*/
    margin-bottom: 8em;
     background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(images/57.jpg) no-repeat center top;
   background-size: cover;
  -moz-background-size: cover;
     background-attachment: fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
   width: 100%;
   overflow: hidden;
   height: 90vh;
   color: white;
  }
   }
  
#m{
  text-align: center;
  color: black;
  background-color: dodgerblue;
  border-radius: 160px;
  padding-right: 4em;
  height: 5vh;
  margin-top: -2em;
  width: 250px
}
#nk{
  width: 100%;
  height: 50vh;
  color: dodgerblue;
}
/*b{
  background-color: dodgerblue;
  color: white;
  margin-left: 2em;
  width: 100%;
  border-radius: 40%;
}*/
.card-title{
  text-align: center;
  background-color: dodgerblue;
  margin-top: -1.5em;
  border-radius: 130px;
  height: 2em;
  color: white;
  width: 90%
}

.i{
  color: white;
}

.card-text{
  color: black;text-align: center;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
#con{
  position: relative;
  width: 100%;
}
#con:hover .overlay {
  bottom: 0;
  height: 100%;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000 ! important;
}



@media (max-width: 1300px) {
#clients{
    padding-top: 9em;
    color:black ;
    padding-bottom: 6em;
    height: 100%
  }
}

@media (max-width: 1300px) {
  header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/56.jpg);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
     background-attachment: fixed;
  height: 105vh;
  width:100% ;
  background-position: center;
  }
}
@media (max-width: 1300px) {
.navbar-brand{
  height: 5rem;
  margin-left: 2em
  }
}
@media (max-width: 1300px){
    #ims{width: 130px;border-radius: 80%;height:5.2rem }
}

@media (max-width: 1300px){
.caption h1{
  font-size: 3rem;
  font-weight: 250;
  letter-spacing: .2.8rem;
  color: white;
  text-shadow: .1rem .1rem .5rem black;
  }
}

@media (max-width: 1300px){
.caption h4{
  font-size: 2rem;
    font-weight: 250;   
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
  color: white;
  margin-top: 1em
  }
}

@media (max-width: 1300px){
 #vo{
   background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/59.jpg) no-repeat center top fixed;
   background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
   width: 100%;
   overflow: hidden;
   height: 100%;
   color: black;
  }

  #bb
  {
  height: 100%;
  color: white;  
  padding-top: 8em;
  padding-bottom:8em;
  }
}
@media (max-width: 1300px){
     #nnn{
        margin-bottom: 8em;
     background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(images/57.jpg) no-repeat center top;
   background-size: cover;
  -moz-background-size: cover;
     background-attachment: fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
   width: 100%;
   overflow: hidden;
   height: 100%;
   color: white;
   }
#lp{
  padding-right: 13em;
  width: 500px;
  border-radius: 200px;
  height: 25rem;

  }
}

