body{
        background-image:url(images/68.jpg);
        background-size: cover;
        background-position: center;
    }
     .card{
            width: 25%;
            margin-left: 40em;
             border-radius: 0.5em;
            box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.9);
            height: 90vh;
            background-color: transparent;
            /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/38.jpg);*/
          
        }
        label{
          color: white;
        }

        .form-control{
            border-radius: 0.5em;
            width: 300px;

        }


       /**/
  @media (max-width: 100px) {
        .card{
            /*width: 25%;*/
            /*margin-right: -40em;*/
             border-radius: 0.5em;
            box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.9);
            /*height: 90vh;*/
            background-color: transparent;
            /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/38.jpg);*/
          
        }

          .form-control{
            border-radius: 0.5em;
            /*width: 300px;*/

        }

    }

    



